@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<footer id="footer">
            <div class="container">

                <div class="row">

                    <div class="col-md-3">
                        <!-- Footer Logo -->
                        <img class="footer-logo" src="" alt="" />

                        <!-- Small Description -->
                         <h4 class="letter-spacing-1">CONTACTS DETAILS:</h4>
                        <p></p>

                        <!-- Contact Address -->
                        <address>
                            <ul class="list-unstyled">
                                <li class="footer-sprite address">
                                    Campbell's Castle Dist.<br>
                                    Ellen Street P.O.,<br>
                                    Manchester,<br>
                                    Jamaica<br>
                                  
                                </li>
                                <li class="footer-sprite phone">
                                    Phone: 1-800-565-2390
                                </li>
                                <li class="footer-sprite email">
                                    <a href="mailto:support@yourname.com">support@yourname.com</a>
                                </li>
                            </ul>
                        </address>
                        <!-- /Contact Address -->

                    </div>

                    <div class="col-md-3">

                        <!-- Latest Blog Post -->
                        <h4 class="letter-spacing-1">OPENING HOURS</h4>
                        <ul class="footer-posts list-unstyled">
                            <li>
                               Monday - Tuesday: 8:30am - 3:30pm.
                               Saturday - Sunday: Closed.
                            </li>
                            
                        </ul>
                        <!-- /Latest Blog Post -->

                    </div>

                    <div class="col-md-2">

                        <!-- Links -->
                        <h4 class="letter-spacing-1">EXPLORE CAMPBELL'S CASTLE</h4>
                        <ul class="footer-links list-unstyled">
                            <li><a href="/home/">Home</a></li>
                            <li><a href="/about-us/history-philosophy/">About Us</a></li>
                            <li><a href="/admission/how-to-apply/">Admission</a></li>
                           
                            <li><a href="/media/events/">Events</a></li>
                            <li><a href="/media/photo-gallery/">Gallery</a></li>
                            <li><a href="/student-information/admission-inquiry-form/">Inquiry Form</a></li>
                           
                            <li><a href="/contact-us/">Contact Us</a></li>
                          
                        </ul>
                        <!-- /Links -->

                    </div>


                        <div>
                        <!-- Vision & Mission -->
                        <h4 class="letter-spacing-1">MISSION</h4>
                        <ul class="footer-posts list-unstyled">
                            <li>
                            To ensure an excellent  Christ-centered educational <br> programme that remains dedicated to its founding  <br> 
                            principles and to  meet the needs of the  <br> students in an ever-changing world. <br> 
                            </li>
                            
                        </ul>
                        
                        <h4 class="letter-spacing-1">VISION</h4>
                        <ul class="footer-posts list-unstyled">
                            <li>
                               Aspires to provide each student,  <br> a holistic education in   a safe and supportive <br>  environment that promotes, 
                               self-discipline,  <br> motivation, and excellence in learning. <br> 
                            </li>
                            
                        </ul>
                        <!-- /Vision & Mission -->
                        
                        </div>
                        
                    <div class="col-md-4">

                        <!-- Newsletter Form -->
                        <h4 class="letter-spacing-1">SOCIAL MEDIA</h4>
                       

                        <!-- /Newsletter Form -->
                        <!-- Social Icons -->
                        <div class="mt-20">
                            <a href="#" class="social-icon social-icon-border social-facebook float-left" data-toggle="tooltip" data-placement="top" title="Facebook">

                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>

                            <a href="#" class="social-icon social-icon-border social-twitter float-left" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>

                            <a href="#" class="social-icon social-icon-border social-gplus float-left" data-toggle="tooltip" data-placement="top" title="Google plus">
                                <i class="icon-gplus"></i>
                                <i class="icon-gplus"></i>
                            </a>

                            <a href="#" class="social-icon social-icon-border social-linkedin float-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
                                <i class="icon-linkedin"></i>
                                <i class="icon-linkedin"></i>
                            </a>

                            <a href="#" class="social-icon social-icon-border social-rss float-left" data-toggle="tooltip" data-placement="top" title="Rss">
                                <i class="icon-rss"></i>
                                <i class="icon-rss"></i>
                            </a>

                        </div>
                        <!-- /Social Icons -->

                    </div>

                </div>

            </div>

            <div class="copyright">
                <div class="container">
                    <ul class="float-right m-0 list-inline mobile-block">
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li>&bull;</li>
                        <li><a href="#">Privacy</a></li>
                    </ul>
                    &copy; Campbell's Castle Early Childhood & Preparatory, All Rights Reserved.
                </div>
            </div>
        </footer>