@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="branding">     
    <div class="container">
        <h1 class="logo">
            <a href="/"><img src="~/assets/images/logo.png" alt=""></a>
        </h1><!--//logo-->
        <h2 class="tagline">Unlock potential and aim higher</h2>
    </div><!--//container-->                    
</div><!--//branding-->
