@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


<section class="page-hero">
     <div class="hero-page-title container">
         <h1>@CurrentPage.Title</h1>
     </div>
     <div class="mask"></div>
</section><!--//page-hero-->