@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var parent = CurrentPage.Parent;
}
<ul class="side-nav list-group mb-60" id="sidebar-nav">
    @foreach (var item in parent.Children.Where("Visible"))
    {
        if (item.Id == CurrentPage.Id)
        {
            //This menu item is currently selected
            <li class="list-group-item active">
                @item.Name
            </li>
        }
        else
        {
            <li class="alist-group-item">
                <a href="@item.Url"><i class="fa fa-chevron-circle-down"></i> @item.Name</a>
            </li>
        }
    
    }
</ul>
