@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Galllery>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "CCPMasterRegular.cshtml";
}

@* the fun starts here *@

@{
 <div>  
       
        @Html.Partial("GallerySlider")
        
</div>

}   
  
  