@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SchoolBus>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "CCPMasterRegular.cshtml";
}
@{

<div class="img-wrap">
        <img class="img-fluid" src="@CurrentPage.GetCropUrl("pageImage", "large")" alt="">
        <noscript><img src="@CurrentPage.Image" alt="Image Alt"></noscript>
</div> <!-- /.img-wrap -->

<h2 class="font--tertiary--l theme--primary-text-color pad-half--btm">CCSDAKP School Transportation</h2>   
        <p>@CurrentPage.bodyText</p>
        
        
        
        
}

<div class="masonry-gallery columns-5 clearfix lightbox" data-img-big="1" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>

		<a class="image-hover" href="/media/1042/flower1.jpg">
		<img src="/media/1042/flower1.jpg" alt="...">
	</a>
	
	<a class="image-hover" href="/media/1042/flower1.jpg">
		<img src="/media/1042/flower1.jpg" alt="...">
	</a>

	<a class="image-hover" href="/media/1042/flower1.jpg">
		<img src="/media/1042/flower1.jpg" alt="...">
	</a>

	<a class="image-hover" href="/media/1043/flower.jpg">
		<img src="/media/1043/flower.jpg" alt="...">
	</a>

	<a class="image-hover" href="/media/1043/flower.jpg">
		<img src="/media/1043/flower.jpg" alt="...">
	</a>

	<a class="image-hover" href="/media/1043/flower.jpg">
		<img src="/media/1043/flower.jpg" alt="...">
	</a>

	<a class="image-hover" href="/media/1043/flower.jpg">
		<img src="/media/1043/flower.jpg" alt="...">
	</a>

	<a class="image-hover" href="/media/1043/flower.jpg">
		<img src="/media/1043/flower.jpg" alt="...">
	</a>

	<a class="image-hover" href="/media/1043/flower.jpg">
		<img src="/media/1043/flower.jpg" alt="...">
	</a>

	<a class="image-hover" href="/media/1043/flower.jpg">
		<img src="/media/1043/flower.jpg" alt="...">
	</a>

	<a class="image-hover" href="/media/1043/flower.jpg">
		<img src="/media/1043/flower.jpg" alt="...">
	</a>

	<a class="image-hover" href="/media/1043/flower.jpg">
		<img src="/media/1043/flower.jpg" alt="...">
	</a>

</div>



    