@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SchoolBus>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "CCPMasterRegular.cshtml";
}
@{


<h2 class="font--tertiary--l theme--primary-text-color pad-half--btm">CCSDAKP School Transportation</h2>   
        <p>@CurrentPage.bodyText</p>
}