@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Student>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "CCPMasterRegular.cshtml";
}

@* the fun starts here *@

@{
<div class="pad--primary">	
		<div class="media-block block spacing--quarter ">
			<a href="@CurrentPage.studentHandbook" class="btn theme--secondary-background-color">Download Student Handbook PDF Version&nbsp;<i class="fa fa-download" aria-hidden="true"></i></a>
			
		</div>	
	</div>	
	
	<h2 class="font--tertiary--l theme--primary-text-color pad-half--btm">Information about Student Uniform</h2>   
        <p>@CurrentPage.bodyText</p>
	}