@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Testimonial>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "CCPMasterRegular.cshtml";
}

@* the fun starts here *@

<!-- 
	Note: remove class="rounded" from the img for squared image!
-->
<div class="row">
	<div class="col-md-4">
		<div class=" testimonial testimonial-bordered p-20">
			<figure class="float-left">
				<img class="rounded" src="/media/1040/flower3.jpg" alt="" />
			</figure>
			<div class="testimonial-content">
				<p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero!</p>
				<cite>
					Felicia Doe
					<span>Company Ltd.</span>
				</cite>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="testimonial testimonial-bordered p-20">
			<figure class="float-left">
				<img class="rounded" src="/media/1040/flower3.jpg" alt="" />
			</figure>
			<div class="testimonial-content">
				<p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero!</p>
				<cite>
					Joana Doe
					<span>Company Ltd.</span>
				</cite>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="testimonial testimonial-bordered p-20">
			<figure class="float-left">
				<img class="rounded" src="/media/1040/flower3.jpg" alt="" />
			</figure>
			<div class="testimonial-content">
				<p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero!</p>
				<cite>
					Melissa Doe
					<span>Company Ltd.</span>
				</cite>
			</div>
		</div>
	</div>
</div>